.container {
    height: 100vh;
    background: url('/assets/images/background.png') no-repeat center center;
    background-size: cover;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    
  }

.sidebar {
  width: 250px;
  background-color: #c7a67c78;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
  .username {
    margin-top: -10px;
    font-weight: bold;
    color: #333;
  }

  .logout-button {
    margin-top: auto;
    background-color: #ab6f0ea4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  .menu-button {
    background-color: #b8957087;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .menu-button::after {
    content: "→";
    float: right;
  }


.sidebar .active {
  background-color: #a67d3cc4;
}


.sidebar .logout {
  margin-top: auto;
  background-color: #ab6f0ea4;
}

.content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: #d8b17e8f;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px #6c646489;
}

.card-icon img {
  width: 50px;
}

.card-info {
  flex: 1;
  margin-left: 20px;
}

.card-action img {
  width: 25px;
  cursor: pointer;
}
