.container {
    height: 100vh;
    background: url('/assets/images/background.png') no-repeat center center;
    background-size: cover;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    
  }
.sidebar {
  width: 250px;
  background-color: #c7a67c78;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-radius: 15px;
  box-shadow: 0 0 8px #6c646489;
}
  
  .profile {
    text-align: center;
    margin-bottom: 20px;
      }
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffffff00;
    margin: auto;
  }
  .username {
    margin-top: -10px;
    font-weight: bold;
    color: #333;
  }
  
  .menu-btn {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background: #a98c64;
    border: none;
    color: white;
    border-radius: 10px;
  }
    .menu-btn::after {
    content: "→";
    float: right;
  }
  
  .menu-btn.active {
    background-color: #d1912b9e;
  }
  
  .logout {
    margin-top: auto;
     background-color: #ab6f0ea4;
    color: white;
    padding: 8px;
    border: none;
    width: 50%;
    border-radius: 8px;
  }
  
  .form-container {
    width: 80%;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #f0ece900;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .form-box {
    background-color: #cba78183;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    height: 530px; /* hauteur fixe */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.714);
  }
  
  label {
    display: block;
    margin-top: 40px;
    font-weight: bold;
  }
  
  input {
    width: 70%;
    padding: 5px;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    display: block;       /* rendre l’input en bloc */
    margin-left: 45px;    /* marge automatique à gauche */
    margin-right: auto;   /* marge automatique à droite */
  }
  
  .date-row {
    margin-left: -50px;    /* marge automatique à gauche */
    margin-right: auto;   /* marge automatique à droite */
    display: flex;
    justify-content: space-between;
  }
  
  .date-row input {
    width: 30%;
  }
  
  .arabic-label {
    margin-top: 10px;
    text-align: right;
    font-style: italic;
  }
  
  .verify {
    margin-top: 11px;
    background-color: #9e968d;
    border: none;
    padding: 7px;
    border-radius: 10px;
    margin-left: 120px;    /* marge automatique à gauche */
  }
  
 .actions {
  position: fixed;
  bottom: 50px; /* distance du bas */
  left: 60%;
  transform: translateX(-70%); /* centrer horizontalement */
  display: flex;
  justify-content: center;
}

.actions .save,
.actions .cancel {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

  
  .actions .save,
  .actions .cancel {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    
  }
  
  .actions .save {
    background-color: #8a817c;
    color: white;
  }
  
  .actions .cancel {
    background-color: #b4a69c;
    color: white;
  }
  
  