.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

.header {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .header {
    font-size: 3rem;
  }
}
